@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.g-main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding: 1rem;
    background-color: #121212;
    color: white;
}

.content {
    align-content: center;
    width: 100%;
}

.p-quizcap{
    text-align: center;
    font-size: 2rem;
}

.g-header, .p-section {
    text-align: center;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid #0b81ff;
}

.g-header1, .g-header2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    font-size: 2rem;
    font-family: "MedievalSharp", cursive;
}

.p-hometext{
    font-size: 1rem;
    text-align: center;
}

.p-myUL{
    list-style-position: inside;
    padding-left: 1.5rem;
}

.s-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

.p-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    font-size: 1.5rem;
}

.g-mainsample{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    color: white;
    width: 100%;
    box-sizing: border-box;

    .p-samples{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .s-thumbnail{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }

    img{
        max-width: 100%;
    }
}

.g-nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.g-nav a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
}

.g-nav a:hover{
    text-decoration: underline;
    color: blue;
    transition: color 0.3s, text-decoration 0.3s;
}

@media screen and (max-width: 600px) {
    .g-main, .g-mainsample{
        max-width: 100%;
    }

    .s-item{
        flex-direction: column;
        align-content: center;
        text-align: center;
        padding: 1rem;
    }

    .p-footer {
        text-align: center;
    }
}